.imageBg {
    padding: 0.5rem;
    height: 100px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card {
    border-radius: 10px;
    box-shadow: -2px -5px 9px 3px hsl(0, 7%, 61%, 30%);
    background-color: var(--white);
    height: 310px;
    width: 320px;
    position: relative;
}
.cardBody {
    padding: 0 1rem;
    text-align: center;
}
.cardBody h3 {
    margin: 0;
}
.cardBody p {
    font-weight: 700;
    margin: 0.25rem 0 0 0;
}
.cardBody small {
    font-family: sans-serif;
    font-size: 0.8rem;
}
.image {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
}
.fullProfile {
    opacity: 0;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.2s ease-in-out; 
}
.fullProfile button {
    padding: 1rem;
    text-transform: capitalize;
    border-radius: 20px;
    color: var(--white);
    font-family: cursive;
    border: none;
    outline: none;
    cursor: pointer;
}
.card:hover .cardBody{
    opacity: 0.2;
    transition: all 0.2s ease-in-out; 
}
.card:hover .fullProfile{
    opacity: 1;
} 