.characters {
  display: grid;
  row-gap: 2rem;
  column-gap: 3rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 2rem 3rem;
}
@media screen and (max-width: 600px) {
  .characters {
      padding: 1rem;
  }
}
.loaderLabel {
  font-size: 2rem;
  color: var(--white);
}