.button {
    padding: 1rem;
    text-transform: capitalize;
    border-radius: 20px;
    color: var(--white);
    font-family: cursive;
    border: none;
    outline: none;
    cursor: pointer;
}
.button:disabled {
    color: hsla(0, 0%, 69%, 0.3);
    background-color: hsla(0, 0%, 94%, 0.3);
}