:root {
  --black1: hsl(218, 13%, 16%);
  --black2: hsl(218, 11%, 26%);
  --green2: hsl(120, 60%, 45%);
  --green1: hsl(120, 100%, 25%);
  --red2: hsl(0, 60%, 45%);
  --red1: hsl(0, 100%, 25%);
  --gray2: hsl(0, 0%, 62%);
  --gray1: hsl(0, 0%, 42%); 
  --white: hsl(0, 0%, 100%);
  --dark-shadow: hsla(0, 0%, 0%, 0.2);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: var(--black1);
}
.Alive {
  background-image: linear-gradient(115deg, var(--green1), var(--green2));
}
.Dead {
  background-image: linear-gradient(115deg, var(--red1), var(--red2));
}
.unknown {
  background-image: linear-gradient(115deg, var(--gray1), var(--gray2));
}
/* Customize scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray1);
  border-radius: 10px;
}